@charset "utf-8";

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
html {
  font-size: 62.5%;
  background-color: #f9f8f6;
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}


/****************************/
/*header*/

header #header_in{
  padding-top: 40px;
  padding-bottom: 15px;
  
  @media (max-width: 549px){
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  
  .log_img{
    @media (max-width: 549px){
      display: none;
    }
  }
  
  .log_img_sp{
    display: none;
    
    @media (max-width: 549px){
      display: block;
      margin-bottom: 10px;
    }
  }
  
  .pc_menu{
    @media (max-width: 549px){
    display: none;
    }
    .pc_menu_li li{
        display: inline;
        width: 100%;
        padding: 7px;
      }
  }
    
  .sp_menu{
    display: none;
    
    @media (max-width: 549px){
      display: block;
    }
    
    .sp_menu_li{
      margin: 0;
      
      .menu_icon_sp{
        cursor: pointer;
      }
      
      
      li{
        @media (max-width: 549px){
        padding: 5px;
        display: inline;
        }
        
        .sp_menu_toggle{
          display: none;
          
          @media (max-width: 549px){
            display: none;
          }
          
          li{
            display: block;
          }
        }

      }
    }
  }
}


/************************************/
/*main*/
#main{
  
  @media (max-width: 549px){
  }
  #top_img{
    width: 100%;
    background-size: cover;
    
    @media (max-width: 549px){
      background-size: cover;
    }
  }
  
  .owl-theme .owl-nav.disabled+.owl-dots{
    margin: 0;
  }
  
  .owl-theme .owl-dots, .owl-theme .owl-nav{
    text-align: left;
  }
  
  .owl-theme .owl-dots .owl-dot span{
    width: 25px;
    height: 2px;
    border-radius: 0px;
    margin: 0 10px 0 0;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #9d1a2d;
  }
  
  .title_img{
    padding: 20px 0;
    
      @media(max-width: 549px){
        display: none;
      }
    }
    
  .title_img_sp{
      display: none;
      
      @media(max-width: 549px){
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  
  .new_items{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   
    .new_box{
      background-color: #ffffff;
      width: 33%;
      padding: 10px;
      box-sizing: border-box; 
      margin-bottom: 5px;
      
      @media(max-width: 549px){
       width: 49.6%;
     }
      
      a {
        color: #000000;
        text-decoration: none;
      
            p{
             margin-bottom: 5px;
             font-size: 12px;
             font-size: 1.2rem;
             letter-spacing: 1px;
             font-family: $ja_font;
           }
      }
    
      .images_item{
        width: 100%;
      }
    }
  }
  
  .popular_items{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
    
    .pop_box{
      background-color: #ffffff;
      width: 33%;
      padding: 10px;
      box-sizing: border-box; 
      margin-bottom: 5px;
      
     @media(max-width: 549px){
       width: 49.6%;
     }
      
      a {
        color: #000000;
        text-decoration: none;
      
            p{
             margin-bottom: 5px;
             font-size: 12px;
             font-size: 1.2rem;
             letter-spacing: 1px;
             font-family: $ja_font;
           }
      }
      
      .images_item{
        width: 100%;
        margin: auto;
      }
    }
  }
  

  
  .guides{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   
   @media (max-width: 549px){
        flex-wrap: wrap;
  }

    
    .guide_box1{
      background-color: #ffffff;
      width: 100%;
      margin: 0 3px 0 0;
      
      @media (max-width: 549px){
        margin-bottom: 10px;
      }
      
      
      h4{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 2rem;
        font-family: $ja_font;
        color: #887f69;
      }
      
      p{
        margin-left: 20px;
        font-size: 12px;
         font-size: 1.2rem;
         letter-spacing: 1px;
        font-family: $ja_font;
      }
      
      h5{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-family: $ja_font;
        color: #887f69;
      }
      
      .posting{
        margin-left: 20px;
        margin-bottom: 5px;
      }
    }
    
    .guide_box2{
      background-color: #ffffff;
      width: 100%;
      margin: 0 0 0 3px;
      
      @media (max-width: 549px){
        margin-bottom: 30px;
      }
      
      h4{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 2rem;
        font-family: $ja_font;
        color: #887f69;
      }
      
      p{
        margin-left: 20px;
        font-size: 1.3rem;
        font-family: $ja_font;
      }
      
      h5{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-family: $ja_font;
        color: #887f69;
      }
      
      .cards{
       text-align: center;
      }
    }
  }
}


/*********************************/
/*side*/

#sidebar{

  
  .item_search{
    background-color: #ffffff;
      padding: 15px 10px 0 10px;
      
    .search_title{
    @media (max-width: 549px){
      display: none;
      }
    }
    
    #forms{
      margin-bottom: 15px;
      
    }
    
    .search_box{
      	position: relative;
      	margin : 0 10px;
      	font-style: oblique;
      	
      	dt input{
      	   font-style: oblique;
      	}
      
      .search_text{
        height: 30px;
        padding: 0;
        width: 100%;
        background-color: #eeeeee;
        border-radius: 0px;
        border: none;
      }
      
      dd{
        position: absolute;
        top: 0;
        right: 0;
      }
        
      dd button{
        margin: auto;
        border: none;
        height: 35px;
        padding: 0 15px 0 0;
      }
          
      dd span{
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/top/search_icon.png") no-repeat;
      }
    }
  }
  
  
  .side_title{
    background-color: #887f69;
    padding: 15px;
    margin-bottom: 10px;
    
    @media(max-width: 549px){
      margin-top: 10px;
      margin-bottom: 0;
      padding: 15px;
    }
    
    .next_icon{
      float: right;
      padding-right: 10px;
    }
    
  }
  
  .categories{
    .categories_li{
      margin-top: 10px;
      margin-bottom: 10px;
      
      li{
      }
      
      a{
        padding-left: 10px;
        text-decoration: none;
      }
      
      a:link	{
	      color : #000000;
      }
      
      a:visited	{
      	color : #000000;
      } 
      
      .side_name{
        background-color: #FFFFFF;
        display: inline-block;
        list-style: none;
        font-family: $ja_font;
        width: 100%;
        padding: 15px 0 15px 0;
        margin-bottom: 1px;
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-family: $ja_font;
        
        .g_icon{
          float: right;
          padding-right: 10px;
        }
      }
    }
  }

  .pc_about_shopinfo_box{
    @media(max-width: 549px){
      display: none;
    }
    .about_text{
      background-color: #ffffff;
      height: 265px;
      margin-bottom: 10px;
      text-align: center;
      
      .about_img{
        padding-top: 5px;
      }
        p {
        padding-top: 5px;
        font-family: $ja_font;
        }
        
      .more_btn_about{
        text-align: center;
      }
    }
    
    .info_text{
      background-color: #ffffff;
      height: 265px;
      text-align: center;
      
      .info_img{
        padding-top: 5px;
      }
      
       p{
        padding-top: 5px;
        font-family: $ja_font;
      }
      
      .more_btn_info{
        text-align: center;
      }
    }
  }
  
  .sp_about_shopinfo_box{
    display: none;
    @media (max-width: 549px){
      display: block;
      
    }
      .about_box_sp{
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        
        .about_img_box{
          flex: 1;
          
          .about_img_sp{
            padding: 0 20px;
          }
          
        }
        
        .about_text_sp{
          flex: 1;
          
        }
      }
      
      .shop_box_sp{
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
        padding-top: 10px;

        .shop_img_box{
          flex: 1;
          
          .shop_img_sp{
            padding: 0 20px;
          }
          
        }
        
        .shop_text_sp{
          flex: 1;
          
        }
      }
      
    }
  
}

/********************************/
/*footer*/

footer{
    
    margin-top: 30px;
    
  .go_top{
    text-align: right;  
    
    @media(max-width: 549px){
      text-align: center;
    }
  }
  
  .foot_navi{
    text-align: center;
    
    li{
        display: inline-block;
        list-style: none;
        font-family: $ja_font;
      }
      
      a{
        padding: 10px;
        text-decoration: none;
      }
      
      a:link	{
	      color : #000000;
      }
      
      a:visited	{
      	color : #000000;
      } 
  }
  
    .copy{
    text-align: center;
    color: #b8b4ac;
    margin-top: 20px;
  }
}