@charset "UTF-8";
html {
  font-size: 62.5%;
  background-color: #f9f8f6; }

/****************************/
/*header*/
header #header_in {
  padding-top: 40px;
  padding-bottom: 15px; }
  @media (max-width: 549px) {
    header #header_in {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 10px; } }
  @media (max-width: 549px) {
    header #header_in .log_img {
      display: none; } }
  header #header_in .log_img_sp {
    display: none; }
    @media (max-width: 549px) {
      header #header_in .log_img_sp {
        display: block;
        margin-bottom: 10px; } }
  @media (max-width: 549px) {
    header #header_in .pc_menu {
      display: none; } }
  header #header_in .pc_menu .pc_menu_li li {
    display: inline;
    width: 100%;
    padding: 7px; }
  header #header_in .sp_menu {
    display: none; }
    @media (max-width: 549px) {
      header #header_in .sp_menu {
        display: block; } }
    header #header_in .sp_menu .sp_menu_li {
      margin: 0; }
      header #header_in .sp_menu .sp_menu_li .menu_icon_sp {
        cursor: pointer; }
      @media (max-width: 549px) {
        header #header_in .sp_menu .sp_menu_li li {
          padding: 5px;
          display: inline; } }
      header #header_in .sp_menu .sp_menu_li li .sp_menu_toggle {
        display: none; }
        @media (max-width: 549px) {
          header #header_in .sp_menu .sp_menu_li li .sp_menu_toggle {
            display: none; } }
        header #header_in .sp_menu .sp_menu_li li .sp_menu_toggle li {
          display: block; }

/************************************/
/*main*/
#main #top_img {
  width: 100%;
  background-size: cover; }
  @media (max-width: 549px) {
    #main #top_img {
      background-size: cover; } }
#main .owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0; }
#main .owl-theme .owl-dots, #main .owl-theme .owl-nav {
  text-align: left; }
#main .owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 2px;
  border-radius: 0px;
  margin: 0 10px 0 0; }
#main .owl-theme .owl-dots .owl-dot.active span, #main .owl-theme .owl-dots .owl-dot:hover span {
  background: #9d1a2d; }
#main .title_img {
  padding: 20px 0; }
  @media (max-width: 549px) {
    #main .title_img {
      display: none; } }
#main .title_img_sp {
  display: none; }
  @media (max-width: 549px) {
    #main .title_img_sp {
      display: block;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px; } }
#main .new_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  #main .new_items .new_box {
    background-color: #ffffff;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px; }
    @media (max-width: 549px) {
      #main .new_items .new_box {
        width: 49.6%; } }
    #main .new_items .new_box a {
      color: #000000;
      text-decoration: none; }
      #main .new_items .new_box a p {
        margin-bottom: 5px;
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    #main .new_items .new_box .images_item {
      width: 100%; }
#main .popular_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; }
  #main .popular_items .pop_box {
    background-color: #ffffff;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px; }
    @media (max-width: 549px) {
      #main .popular_items .pop_box {
        width: 49.6%; } }
    #main .popular_items .pop_box a {
      color: #000000;
      text-decoration: none; }
      #main .popular_items .pop_box a p {
        margin-bottom: 5px;
        font-size: 12px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    #main .popular_items .pop_box .images_item {
      width: 100%;
      margin: auto; }
#main .guides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  @media (max-width: 549px) {
    #main .guides {
      flex-wrap: wrap; } }
  #main .guides .guide_box1 {
    background-color: #ffffff;
    width: 100%;
    margin: 0 3px 0 0; }
    @media (max-width: 549px) {
      #main .guides .guide_box1 {
        margin-bottom: 10px; } }
    #main .guides .guide_box1 h4 {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 2rem;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      color: #887f69; }
    #main .guides .guide_box1 p {
      margin-left: 20px;
      font-size: 12px;
      font-size: 1.2rem;
      letter-spacing: 1px;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    #main .guides .guide_box1 h5 {
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 5px;
      font-size: 1.5rem;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      color: #887f69; }
    #main .guides .guide_box1 .posting {
      margin-left: 20px;
      margin-bottom: 5px; }
  #main .guides .guide_box2 {
    background-color: #ffffff;
    width: 100%;
    margin: 0 0 0 3px; }
    @media (max-width: 549px) {
      #main .guides .guide_box2 {
        margin-bottom: 30px; } }
    #main .guides .guide_box2 h4 {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 2rem;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      color: #887f69; }
    #main .guides .guide_box2 p {
      margin-left: 20px;
      font-size: 1.3rem;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    #main .guides .guide_box2 h5 {
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 5px;
      font-size: 1.5rem;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      color: #887f69; }
    #main .guides .guide_box2 .cards {
      text-align: center; }

/*********************************/
/*side*/
#sidebar .item_search {
  background-color: #ffffff;
  padding: 15px 10px 0 10px; }
  @media (max-width: 549px) {
    #sidebar .item_search .search_title {
      display: none; } }
  #sidebar .item_search #forms {
    margin-bottom: 15px; }
  #sidebar .item_search .search_box {
    position: relative;
    margin: 0 10px;
    font-style: oblique; }
    #sidebar .item_search .search_box dt input {
      font-style: oblique; }
    #sidebar .item_search .search_box .search_text {
      height: 30px;
      padding: 0;
      width: 100%;
      background-color: #eeeeee;
      border-radius: 0px;
      border: none; }
    #sidebar .item_search .search_box dd {
      position: absolute;
      top: 0;
      right: 0; }
    #sidebar .item_search .search_box dd button {
      margin: auto;
      border: none;
      height: 35px;
      padding: 0 15px 0 0; }
    #sidebar .item_search .search_box dd span {
      display: block;
      width: 20px;
      height: 20px;
      background: url("../images/top/search_icon.png") no-repeat; }
#sidebar .side_title {
  background-color: #887f69;
  padding: 15px;
  margin-bottom: 10px; }
  @media (max-width: 549px) {
    #sidebar .side_title {
      margin-top: 10px;
      margin-bottom: 0;
      padding: 15px; } }
  #sidebar .side_title .next_icon {
    float: right;
    padding-right: 10px; }
#sidebar .categories .categories_li {
  margin-top: 10px;
  margin-bottom: 10px; }
  #sidebar .categories .categories_li a {
    padding-left: 10px;
    text-decoration: none; }
  #sidebar .categories .categories_li a:link {
    color: #000000; }
  #sidebar .categories .categories_li a:visited {
    color: #000000; }
  #sidebar .categories .categories_li .side_name {
    background-color: #FFFFFF;
    display: inline-block;
    list-style: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
    width: 100%;
    padding: 15px 0 15px 0;
    margin-bottom: 1px;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    #sidebar .categories .categories_li .side_name .g_icon {
      float: right;
      padding-right: 10px; }
@media (max-width: 549px) {
  #sidebar .pc_about_shopinfo_box {
    display: none; } }
#sidebar .pc_about_shopinfo_box .about_text {
  background-color: #ffffff;
  height: 265px;
  margin-bottom: 10px;
  text-align: center; }
  #sidebar .pc_about_shopinfo_box .about_text .about_img {
    padding-top: 5px; }
  #sidebar .pc_about_shopinfo_box .about_text p {
    padding-top: 5px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
  #sidebar .pc_about_shopinfo_box .about_text .more_btn_about {
    text-align: center; }
#sidebar .pc_about_shopinfo_box .info_text {
  background-color: #ffffff;
  height: 265px;
  text-align: center; }
  #sidebar .pc_about_shopinfo_box .info_text .info_img {
    padding-top: 5px; }
  #sidebar .pc_about_shopinfo_box .info_text p {
    padding-top: 5px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
  #sidebar .pc_about_shopinfo_box .info_text .more_btn_info {
    text-align: center; }
#sidebar .sp_about_shopinfo_box {
  display: none; }
  @media (max-width: 549px) {
    #sidebar .sp_about_shopinfo_box {
      display: block; } }
  #sidebar .sp_about_shopinfo_box .about_box_sp {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 10px 0; }
    #sidebar .sp_about_shopinfo_box .about_box_sp .about_img_box {
      flex: 1; }
      #sidebar .sp_about_shopinfo_box .about_box_sp .about_img_box .about_img_sp {
        padding: 0 20px; }
    #sidebar .sp_about_shopinfo_box .about_box_sp .about_text_sp {
      flex: 1; }
  #sidebar .sp_about_shopinfo_box .shop_box_sp {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding-top: 10px; }
    #sidebar .sp_about_shopinfo_box .shop_box_sp .shop_img_box {
      flex: 1; }
      #sidebar .sp_about_shopinfo_box .shop_box_sp .shop_img_box .shop_img_sp {
        padding: 0 20px; }
    #sidebar .sp_about_shopinfo_box .shop_box_sp .shop_text_sp {
      flex: 1; }

/********************************/
/*footer*/
footer {
  margin-top: 30px; }
  footer .go_top {
    text-align: right; }
    @media (max-width: 549px) {
      footer .go_top {
        text-align: center; } }
  footer .foot_navi {
    text-align: center; }
    footer .foot_navi li {
      display: inline-block;
      list-style: none;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    footer .foot_navi a {
      padding: 10px;
      text-decoration: none; }
    footer .foot_navi a:link {
      color: #000000; }
    footer .foot_navi a:visited {
      color: #000000; }
  footer .copy {
    text-align: center;
    color: #b8b4ac;
    margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
